/*
to select elements 
1-tag names p h1 div pre 
2-id #id-element 
3-class .className
to filter returned elements
    first-child
    last-child
    nth-child(n)
    nth-last-child(n) a partir du dernier element
    first-of-type first element of his type first-paragraph first-h1
    last-of-type last element of his type last-paragraph last-h1
    nth-of-type(n) n-th element of his type
    only-of-type the only h3 in the document
    only-child selects the only child of his parents

*/

/*
1. Stylez l’´el´ement ¡h1¿ avec une couleur de texte rouge.
2. Stylez le premier paragraphe de chaque section avec un fond gris clair.
3. Stylez le dernier paragraphe de chaque section avec un fond jaune clair.
4. Ajoutez une bordure solide de 1px autour de la balise ¡div¿ du conteneur.
5. Stylez chaque paragraphe qui est le dernier enfant de son conteneur parent avec une graisse de police en
gras.
6. Stylez chaque paragraphe qui est le premier enfant de son conteneur parent avec une taille de police de
18px.
*/
/*1. Stylez l’´el´ement ¡h1¿ avec une couleur de texte rouge.*/
/* h1{
    color: red;
} */
/* .container h1:first-child
{
    color: red;
} */
.container h1:only-of-type
{
    color: red;
}
/*2. Stylez le premier paragraphe de chaque section avec un fond gris clair.*/
.section p:first-child
{
    background-color: gray;
}
/*3. Stylez le dernier paragraphe de chaque section avec un fond jaune clair.*/
.section p:last-child
{
    background-color: yellow;
}
/*4. Ajoutez une bordure solide de 1px autour de la balise ¡div¿ du conteneur.*/
.container div
{
    border: 1px solid blue;
    margin-bottom: 5px;
}
/*5. Stylez chaque paragraphe qui est le dernier enfant de son conteneur parent avec une graisse de police en
gras.*/
.section p:last-child
{
    font-weight: bolder;
}
/*6. Stylez chaque paragraphe qui est le premier enfant de son conteneur parent avec une taille de police de
18px.*/
/* .section p:first-child
{
    font-size: 18px;
} */
.section p:first-of-type
{
    font-size: 18px;
}
/*
7. Ajoutez une marge de 10px en haut et en bas de chaque section.
8. Stylez chaque paragraphe qui n’est ni le premier enfant ni le dernier enfant de son conteneur parent avec
une bordure de 1px solide en noir.
9. Ajoutez un padding de 20px au conteneur.
10. Ajoutez un padding de 5px `a la section contenant ”Section 3, Paragraph 1.”
*/
/*7. Ajoutez une marge de 10px en haut et en bas de chaque section.
*/
.section
{
    /*
    margin-top:10px;
    margin-bottom:10px;
    */
    /*
    margin:10px 0px 10px 0px;
    */
    margin: 10px 0px;
}
/*9. Ajoutez un padding de 20px au conteneur.
*/
.container
{
   border: 1px solid green;
}
 .container
{
    padding: 20px;
} 
.section
{
    background-color: white;
}
/*8. Stylez chaque paragraphe qui n’est ni le premier enfant ni le dernier enfant de son conteneur parent avec
une bordure de 1px solide en noir.*/
/* 1ere methode
*/
.section
{
    padding: 2px;
}
/* .section p
{
    border: 1px solid black;
}
.section p:first-child
{
    border: none;
}
.section p:last-child
{
    border: none;
}
/*2 *//*eme methode not*/
/* .section p:not(:first-child,:last-child)
{
    border: 1px solid black;
} */

.section p:not(:first-child):not(:last-child)
{
    border: 1px solid black;
}
/*10. Ajoutez un padding de 5px `a la section contenant ”Section 3, Paragraph 1.”
*/
/* .section p:only-child
{
    padding: 50px;
} */
.section p:only-of-type
{
    padding: 50px;
}
/*11-selectionner les elements qui ne sont pas les seuls fils de leurs parents*/
/* .section p:not(:only-child)
{
    font-size: 30px;
} */
/*12-Souligner  les paragraphes qui ne sont pas ni le premier paragraphe ni le seul paragraphe de leurs parents*/
.section p:not(:first-child):not(:only-child)
{
    text-decoration-line: underline;
    text-decoration-color: brown;
    text-decoration-style: solid;
}
.section p:not(:nth-child(odd))
{
    background-color: red;
}
.section p:nth-child(even)
{
    background-color: red;
}
/*
even=pair 2 4 6 8...
odd impair 1 3 5 7 9 11 ...
*/